* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

/* Header og menu */
header {
  background-color: #e18dd5;
  padding: 1rem;
}

img {
  width: 300px;
  height: auto;
  margin: 1rem 0;
  display: block;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 0.5rem;
}

nav a {
  color: white;
  text-decoration: none;
}

/* Main */
main {
  padding: 1rem;
  background-color: rgb(205, 165, 202);
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  margin-top: 1.5rem;
}

/* Footer */
footer {
  background-color: #e18dd5;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

section {
  margin-bottom: 2rem;
}
